<template>
    <div class="border">
  <div class="wrap">
    <div class="product-wrap">
        <router-link tag="a" :to="{name: 'product', params: {id: product._id}}">
            <img class="card-img-top" width="300" height="350" :src="product.image" :alt="product.name">
        </router-link>
        
    </div>
    <div class="loop-action">
      <router-link tag="a" class="add-to-cart"  :to="{ name: 'product', params: { id: product._id }}">Desciption</router-link>
      <a  class="loop-add-to-cart" @click="saveTutorial">Buy Now</a>
    </div>
  </div>
    <div class="product-info">
      <h3 class="product-title">{{ product.name }}</h3>
        id:{{product._id }}
       <p><span class="font-weight-bold">Price $</span>: {{ product.price }}</p>
          <p><span class="font-weight-bold">Category</span>: {{ product.category }}</p>
        <p class="card-text">{{ product.description.substring(0, 50) }}</p>
   </div>
</div>

</template>

<script>
import TutorialDataService from "../services/TutorialDataService";
export default {
    props: ['product'],
 data() {
    return {
      tutorial: {
        id: null,
        title: "",
        description: "",
        published: false
      },
      submitted: false
    };
  },
    computed: {
    currentUser() {
      return this.$store.state.auth.user;
    }
  },
  methods: {
    updateTutorial() {
      TutorialDataService.update(this.currentTutorial.id, this.currentTutorial)
        .then(response => {
          console.log(response.data);
          this.message = 'The tutorial was updated successfully!';
        })
        .catch(e => {
          console.log(e);
        });
    },
    saveTutorial() {
      console.log(this.product.name)
      var data = {
        title: this.product.name,
        description: this.product.price,
        price:this.product.price,
        userid:this.currentUser.id,
        quantity:1
      };
      TutorialDataService.create(data)
        .then(response => {
          this.tutorial.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
        })
        .catch(e => {
          console.log(e);
        });
    },
  
    newTutorial() {
      this.submitted = false;
      this.tutorial = {};
    }
  }
}
</script>

<style scoped>
.card-title {
        cursor: pointer;
    }
    * {box-sizing: border-box;}
.border {
  width: 300px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border: 1px solid #F1E7E8;
}
.wrap {
  height: 100%;
  position: relative;
 }
.product-wrap {position: relative;}
.product-wrap:after {
  content: '';
  background: rgba(73, 102, 162, .5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  transform: scale(.3);
  transition: .3s ease-in-out;
}
.border:hover .product-wrap:after {
  opacity: 1;
  transform: scale(1);
}
.product-wrap a {
  display: block;
  text-decoration: none;
}
.product-wrap img {
  display: block;
  width: 100%;
}
.loop-action {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: .3s ease-in-out;
}
.border:hover .loop-action {opacity: 1;}
.loop-action a {
  text-decoration: none;
  display: block;
  border: 1px solid white;
  white-space: nowrap;
  text-transform: uppercase;
  padding: .5em 1em;
  font-size: 14px;
  line-height: 1.6;
  outline: none;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: white;
  min-width: 160px;
  margin: 5px auto;
  transition: .3s ease-in-out;
}
.loop-action a:after {
  content: '';
  position: absolute;
  left: -220%;
  top: -500%;
  width: 140%;
  height: 1000%;
  transform: rotate(45deg);
  background: white;
  z-index: -1;
  transition: .3s ease-in-out;
}
.loop-action a:hover {color: black;}
.loop-action a:hover:after {left: 0%;}
.border:hover {border-color: #4966A2;}
.product-info {padding-top: 15px;}
.stars {
  font-size: 14px;
  font-family: FontAwesome;
}
.stars:before {
  content: "\f005\f005\f005\f005\f123";
  color: #F2453E;
}
.product-title {
  font-weight: normal;
  font-family: "Open Sans";
  color: #162546;
  font-size: 18px;
}
.price {
  font-family: "Open Sans";
  color: #162546;
  font-style: italic;
  font-weight: bold;
}
</style>
