<template>
    <div class="container">
      <center> <input type="text" v-model="id"> <button @click="Ohran1()"><i class="fa fa-search"></i></button> </center>   
             
    <br>
        <section class="bg-light text-dark">
            Filters 
            <vue-range-slider :min="min" :max="max"  v-model="range" @drag-end="dragEnd"></vue-range-slider>
        </section>
<br>
        <Cards :products="filteredProducts" />
    
    </div>

</template>

<script>
import Cards from './Cards';
import Api from '@/config/Api'
import 'vue-range-component/dist/vue-range-slider.css'
import VueRangeSlider from 'vue-range-component'

export default {
    props: ['category', 'filters'],
    data() {
        const min = 0
        const max = 5000

        return {
            search: '',
            min,
            max,
             id:"sd",
            range: [
                Number(this.filters.priceFrom || min),
                Number(this.filters.priceTo || max)
            ],
            products: []
        }
    },
    components: {
        Cards, VueRangeSlider
    },
    created() {
        this.fetch();
    },
    watch: {
        '$route' (to, from) {
            if (from.params.category !== to.params.category) {
                this.fetch()
            }
        }
    },
    computed: {
        
        filteredProducts () {
            return this.products.filter((product) => {
                return product.price >= this.range[0] &&
                    product.price <= this.range[1]
            })
        },
              filteredList() {
      return this.postList.filter(post => {
        return post.title.toLowerCase().includes(this.search.toLowerCase())
      })
    }
  },
    methods: {
        
        fetch() {
            Api().get(`/categories/${this.category}`).then(response => {
                this.products = response.data
            });
        },
   Ohran1( ) {   
            this.products = this.products.filter((product) => {
                return  product.name == this.id;
            })},
        dragEnd () {
            this.$router.replace({
                query: {
                    priceFrom: this.range[0],
                    priceTo: this.range[1]
                }
            })
        }
    }
}
</script>

<style scoped>
    #autocomplete {
  max-width: 400px;
  margin: 0 auto;
}
</style>
