<template>
  <div >
    <div class="col-md-12">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by name"
          v-model="title"/>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"
            @click="searchTitle"
          >
            Search
          </button>
        </div>
       
      </div>
           <table class="table stripped text-white ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">SubTotat</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr
    :class="{ active: index == currentIndex }"
          v-for="(tutorial, index) in tutorials"
          :key="index"
          @mouseover="setActiveTutorial(tutorial, index)"
          
    >
      <th scope="row">1</th>
      <td v-if="tutorial.userid===currentUser.id">{{tutorial.title}}</td>
      <td v-if="tutorial.userid===currentUser.id">{{tutorial.price}}</td>
      <td v-if="tutorial.userid===currentUser.id">{{tutorial.quantity}}</td>
      <td v-if="tutorial.userid===currentUser.id">{{tutorial.quantity*tutorial.price}}</td>
      <td v-if="tutorial.userid===currentUser.id"><button class="badge badge-danger mr-2"
      @click="deleteTutorial"
    >
      Delete
    </button>
       <button type="submit" class="badge badge-success"
      @click="updatePluse"
    >
      +
    </button>
       <button type="submit" class="badge badge-success"
      @click="updateMinus"
    >
      -
    </button></td>
    </tr>
    
  </tbody>
</table>
    </div>
    <div class="col-md-6">
                <button id="checkout" class="btn btn-outline-primary" @click="checkout">Checkout</button>
   
  <!-- <button class="m-3 btn btn-sm btn-danger" @click="removeAllTutorials">
        Remove All
      </button> -->
  <transition name="fade">
    <p v-if="show">привет</p>
  </transition>
    </div>
  </div>
  
</template>

<script>
import TutorialDataService from "../services/TutorialDataService";
import Api from '@/config/Api'
import key from '@/config/stripeKey'
export default {
  name: "tutorials-list",
  data() {
    return {
      tutorials: [],
      show: false,
      id:"60b3f05efa1b54462aab90e4",
      currentTutorial: null,
      currentIndex: -1,
      title: ""
    };
  },
    computed: {
    currentUser() {
      return this.$store.state.auth.user;
    }
  },
  methods: {
     checkout(){
        this.handler.open({
                name: 'Shopping Cart',
                description: 'DBshop',
                amount: this.total*100
            });
        },
  show2(){
    if(this.currentUser.id==="60b3f05efa1b54462aab90e4"){
this.show = !this.show
    }
  for (var i = this.tutorial.id; i < 9; i++) {
   console.log(i);
   // ещё какие-то выражения
}

    console.log(this.tutorial.id)

  },
    updatePluse(status) {
      var data = {
         title: this.currentTutorial.name,
        description: this.currentTutorial.price,
        price:this.currentTutorial.price,
        userid:this.currentUser.id,
        quantity:this.currentTutorial.quantity+1
      };
      TutorialDataService.update(this.currentTutorial.id, data)
        .then(response => {
          console.log(response.data);
          this.currentTutorial.published = status;
          this.message = 'The status was updated successfully!';
        })
        .catch(e => {
          console.log(e);
        });
        this.refreshList();
    },
     updateMinus(status) {
      var data = {
         title: this.currentTutorial.name,
        description: this.currentTutorial.price,
        price:this.currentTutorial.price,
        userid:this.currentUser.id,
        quantity:this.currentTutorial.quantity-1
      };
      TutorialDataService.update(this.currentTutorial.id, data)
        .then(response => {
          console.log(response.data);
          this.currentTutorial.published = status;
          this.message = 'The status was updated successfully!';
        })
        .catch(e => {
          console.log(e);
        });
          this.refreshList();
    },
         deleteTutorial() {
      TutorialDataService.delete(this.currentTutorial.id)
        .then(response => {
          console.log(response.data);
          this.$router.push({ name: "tutorials" });
        })
        .catch(e => {
          console.log(e);
        });
      this.refreshList();
      window.location.reload()
    },
    retrieveTutorials() {
      TutorialDataService.getAll()
        .then(response => {
          this.tutorials = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },
    refreshList() {
      this.retrieveTutorials();
      this.currentTutorial = null;
      this.currentIndex = -1;
    },
    setActiveTutorial(tutorial, index) {
      this.currentTutorial = tutorial;
      this.currentIndex = tutorial ? index : -1;
    },
    
    removeAllTutorials() {
      TutorialDataService.deleteAll()
        .then(response => {
          console.log(response.data);
          this.refreshList();
        })
        .catch(e => {
          console.log(e);
        });
         this.retrieveTutorials();
    },
    
    searchTitle() {
      TutorialDataService.findByTitle(this.title)
        .then(response => {
          this.tutorials = response.data;
          this.setActiveTutorial(null);
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.retrieveTutorials();
       let total = 100;
        this.handler = window.StripeCheckout.configure({
        key: key.PUBLISHABLE_KEY,
        image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
        locale: 'auto',
        token: (token) => {
            Api().post('/charge', {stripeToken: token, total: total})
                .then(response => {
                    let charge = response.data;
                     this.$store.commit('setCharge', charge);
                     localStorage.clear();
                     this.$store.state.cart = [];
                })
        }
        });
  }
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>