<template>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #7289DA;mb-3">
    <div class="container">
        
        <br>
        <router-link tag="a" :to = "{name: 'home'}" class="navbar-brand"><img :src="image" width="100px"></router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
                 <div class="navbar-nav mr-auto">
        <li v-if="showAdminBoard" class="nav-item">
          <router-link to="/admin" class="nav-link navbar-brand">Admin Board</router-link>
        </li>
        <li v-if="showModeratorBoard" class="nav-item">
          <router-link to="/mod" class="nav-link navbar-brand">Moderator Board</router-link>
        </li>
      </div>
    

      <div v-if="currentUser" class="navbar-nav ml-auto">
        <li class="nav-item">
          <router-link to="/profile" class="nav-link navbar-brand">
            <font-awesome-icon icon="user" />
            {{ currentUser.username }}
          </router-link>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-brand" href @click.prevent="logOut">
            <font-awesome-icon icon="sign-out-alt" />LogOut
          </a>
        </li>
      </div>
            <ul class="navbar-nav  ml-auto">
                
                <router-link tag="a" :to = "{name: 'checkout'}" class="nav-link navbar-brand">Cart</router-link>
                   <input type="text" v-model="id">
               <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <button @click="Ohran1()"><i class="fa fa-search"></i></button>
        <strong>Category</strong>  
        </a>
        
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         
          <li class="nav-item active" v-for="category in categories" :key="category._id">
                    <router-link tag="a" :to = "{name: 'category', params: {category: category.title}}" class="nav-link">{{ category.title }}</router-link>
                </li>
                
        </div>
        
      </li>
      <div v-if="!currentUser" class="navbar-nav ml-auto">
        <li class="nav-item">
          <router-link to="/register" class="nav-link navbar-brand">
            <font-awesome-icon icon="user-plus" />Sign Up
          </router-link>
                <router-link to="/login" class="nav-link navbar-brand">
            <font-awesome-icon icon="sign-in-alt" />Login
          </router-link>
        </li>
        <li class="nav-link navbar-brand">
   
        </li>
      </div>
    
            </ul>
        </div>
        
    </div>
     
      
</nav>


</template>

<script>
import Api from '@/config/Api'
import image from '@/components/images/logo.png';
export default {
    data() {
        return {
            categories: [],
            image,
            prod: {name:"", price:0, category:"", description:"",image:"",_id:""},
                id:0,
                name:""
        }
    },
    created() {
        Api().get('/categories')
            .then(response => {
                this.categories = response.data;
            });
            
    }, 
    methods:{
            serch(){
         Api().get(`/products/`+this.id)
              .then((response) => {
                  console.log(response.data)
                  this.prod = response.data;
                  
              })  
     },
      Ohran1( ) { location.href = 'http://localhost:8080/product/'+ this.id },
       logOut() {
      this.$store.dispatch('auth/logout');
      this.$router.push('/login');
    }
    },
    computed: {
        cart() {
            return this.$store.getters.getCart
        },
           currentUser() {
      return this.$store.state.auth.user;
    },
    showAdminBoard() {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes('ROLE_ADMIN');
      }
      return false;
    },
    showModeratorBoard() {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes('ROLE_MODERATOR');
      }
      return false;
    }
        
    }
}
</script>


<style>

</style>
